html * {
    padding: 0;
    margin: 0;
}

:root {
    --border: 1px solid #555;
}

body {
    display: flex;
    background: #222;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 100%;
    font-size: 4rem;
    font-weight: 900;
    color: white;
    font-family: "Chelsea Market", system-ui;
    border-bottom: var(--border);
}

#content {
    width: 100%;
    flex: 1;
    overflow: hidden;
    display: flex;
}

#tools-bar {
    /*flex-grow: 0;*/
    width: 15rem;
    border-right: var(--border);

    .tool {
        height: 4rem;
        border-bottom: var(--border);
        font-family: "Chelsea Market", system-ui;

        a {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #dddddd;
            font-size: 1.5rem;
        }

        &:hover {
            background: #111111;
        }
    }
}